.topnav {
    width: 6.4rem;
    height: 0.8rem;
    min-width: 6.4rem;
    min-height: 0.8rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.left {
    width: 1.15rem;
    height: 0.65rem;
}
.lefti {
    width: 1.15rem;
    height: 0.65rem;
}
.search {
    width:  3rem;
    height: 0.65rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 0.16rem;
    border: 1px solid lightgray;
}
.searchl {
    width: 0.64rem;
    height: 0.5rem;
}
.searchli {
    width: 0.64rem;
    height: 0.5rem;
}
.searchr {
    width: 2.6rem;
    height: 0.5rem;
    justify-content: center;
    align-items: center;
}
.searchri {
    width: 2.5rem;
    height: 0.45rem;
    font-size: 0.14rem;
    line-height: 0.45rem;
    outline: none;
}
.right {
    width: 1.15rem;
    height: 0.65rem;
    font-size: 0.14rem;
    text-align: center;
    line-height: 0.65rem;
}